# Build scripts
build

# Test files
test
**/*.spec.ts
test-vectors

# Logs
logs
*.log
npm-debug.log*

# Output of 'npm pack'
*.tgz

# Visual Studio Code
.vscode

# IntelliJ
.idea

# Coverage
coverage

# GitHub
.github

# GitLab
.gitlab-ci.yml
.gitlab-ci.yaml

# tsconfig
tsconfig.json

# SRC docs
src/docs

# Test temporal files
.mocha-ts
.dst
.tsconfig.json

# docs temporal files
.nojekyll

# code of conduct
CODE_OF_CONDUCT.md

# TODO
TO-DO.txt

# benchmarks
benchmark
